body {
	font-family: 'Mali', cursive;
	font-size: 16px;
	background-color: white;
}

#wrapper {
	width: 92%;
	border: 1px solid #e3e3e3;
	margin: 0 auto;
	box-shadow: 5px 5px 5px #9f9f9f; 
}

header {
	background-color: white;
	height: 55px;
}

#logo {
	float: left;
	width: 33.3%;
	padding: 1em;
	box-sizing: border-box;
}

#site-search {
	float: left;
	width: 66.6%;
	box-sizing: border-box;
	text-align: right;
	padding: 1em;
}

#main-navigation {
	background-color: white;
}

#overview {
	background-color: #30A6E6;
	height: 40px;
}

.service {
	width: 300px;
	height: 300px;
	float: left;
	width: 33.3%;
	box-sizing: border-box;
	padding: 1.5em;
	border: 1px solid #999999;
	border-radius: 1em;
	background-color: red;
}

footer {
	background-color: green;
	text-align: right;
	padding: 1em;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.dropdownmenu ul, .dropdownmenu li {
	margin: 0;
	padding: 0;
}
.dropdownmenu ul {
	background: gray;
	list-style: none;
	width: 100%;
}
.dropdownmenu li {
	float: left;
	position: relative;
	width:auto;
}
.dropdownmenu a {
	background: #30A6E6;
	color: #FFFFFF;
	display: block;
	font: bold 12px/20px sans-serif;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.dropdownmenu li:hover a {
	background: #000000;
}
#submenu {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 35px;
	visibility: hidden;
	z-index: 1;
}
li:hover ul#submenu {
	opacity: 1;
	top: 40px;	/* adjust this as per top nav padding top & bottom comes */
	visibility: visible;
}
#submenu li {
	float: none;
	width: 100%;
}
#submenu a:hover {
	background: #DF4B05;
}
#submenu a {
	background-color:#000000;
}

img {
	width: 170px;
	height: auto;
	padding: 10px;
	margin-left: : 100px;
}